<div class="d-flex main-layout">

    <!-- SIDEBAR -->
    <aside class="sidebar">
        <h4 class="logo">E-Attendance</h4>

        <ul class="menu">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/layout/student">
                    <i class="fa-solid fa-list-check"></i> Attendance Sheet
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/layout/dashboard">
                    <i class="fa-solid fa-chart-line"></i> Dashboard
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/layout/report"><i class="fa-regular fa-newspaper"></i> Report</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/layout/studentinfo"><i class="fa-solid fa-graduation-cap"></i> Student</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/layout/change-password"><i class="fa-solid fa-key"></i> Change Password</a>
            </li>
            <li class="nav-item mt-4">
                <a class="nav-link text-danger" (click)="logout()" style="cursor: pointer;">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
                </a>
            </li>
        </ul>
    </aside>

    <!-- MAIN -->
    <main class="content">
        <router-outlet />
    </main>
</div>